<div class="container"style="width: 36%; text-align: center; justify-content: center; ">

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>

</div>
